@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../js/**/*.vue';
@source '../views/**/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-zinc-850: #202023;
}

@layer base {
    :root {
        font-feature-settings:
            'cv01',
            'cv02',
            'cv03',
            'cv04',
            'cv06',
            'cv11',
            'liga' 1,
            'calt' 1;
    }

    @supports (font-variation-settings: normal) {
        :root {
            font-family: InterVariable, sans-serif;
        }
    }

    #nprogress {
        @apply relative! z-2000! shadow-none!;
    }

    #nprogress .peg {
        @apply hidden! shadow-none!;
    }
}

@layer components {
    .btn {
        @apply inline-flex cursor-pointer items-center gap-2 rounded-lg border border-neutral-200 px-4 py-[7px] font-semibold outline-hidden duration-150 select-none disabled:opacity-50 dark:border-neutral-700;

        &.btn-primary {
            @apply border-teal-500 bg-teal-500 text-white hover:border-teal-400 hover:bg-teal-400;
        }

        &.btn-link {
            @apply border-transparent bg-transparent text-zinc-500 hover:border-zinc-200 hover:bg-zinc-200 hover:text-zinc-900 dark:hover:border-zinc-700 dark:hover:bg-zinc-700 dark:hover:text-white;
        }

        i {
            @apply font-normal;
        }
    }

    .card {
        @apply dark:bg-zinc-850 rounded-lg border border-zinc-200 bg-white shadow-xs dark:border-zinc-700;

        .card-body {
            @apply border-zinc-200 p-4 md:p-6 dark:border-zinc-700;
        }
    }

    .table-wrapper {
        @apply w-full overflow-x-auto;
    }

    .table {
        @apply w-full;

        thead tr th {
            @apply px-4 py-3 text-left text-sm font-semibold first:md:pl-6 last:md:pr-6;
        }

        tbody,
        tfoot {
            tr {
                td {
                    @apply relative border-t border-zinc-200 p-4 align-top duration-200 first:md:pl-6 last:md:pr-6 dark:border-zinc-700;

                    &:first {
                        @apply md:pl-6;
                    }
                    &:last {
                        @apply md:pr-6;
                    }
                }

                &:hover {
                    td {
                        @apply bg-zinc-50 dark:bg-zinc-900;
                    }
                }
            }
        }
    }
}

@layer utilities {
    .sidebar-menu-item {
        @apply relative flex gap-2 rounded-lg border border-transparent px-3 py-[7px] text-zinc-500 duration-200 hover:bg-zinc-200 hover:text-zinc-900 dark:hover:bg-zinc-700 dark:hover:text-white;

        &.active {
            @apply dark:bg-zinc-850 border-zinc-200 bg-white font-semibold text-zinc-900 shadow-xs dark:border-zinc-700 dark:text-white;

            i {
                @apply text-teal-500;
            }
        }

        i {
            @apply font-normal;
        }
    }

    .dropdown-menu-item {
        @apply flex gap-2 rounded-lg px-3 py-2 duration-200 hover:bg-zinc-100 dark:hover:bg-zinc-800;

        &.active {
            @apply font-semibold;

            i {
                @apply font-normal text-teal-500;
            }
        }
    }

    .page-title {
        @apply text-2xl/10 font-bold tracking-tight;
    }
}

@import 'vue-toastification/dist/index.css';
@import './vt-override.css';
